body {
    background: linear-gradient(45deg, #000000, #2e2e2e);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-height: 100vh;
    max-width: calc(100vh * 16 / 9);
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(0deg, rgb(82, 6, 6), black, black, black, black, black, black, black, black);
}