body {
    background: linear-gradient(45deg, #000000, #2e2e2e);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

@font-face {
  font-family: 'undertale';
  src: url('assets/fonts/determinationmonoweb.otf') format('truetype');
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-height: 100vh;
    max-width: calc(100vh * 16 / 9);
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(0deg, rgb(82, 6, 6), black, black, black, black, black, black, black, black);
}

#joystick-zone {
  width: 5svh;
  height: 5svh;
  left: 2svh;
  bottom: 2svh;
}

#play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10svh;
  height: 8svh;
  translate: -50% -50%;
  border-image: url('assets/images/button1.png') 0.4 fill stretch;
  image-rendering: pixelated;
  background-color: rgb(0, 0, 0, 0);
  color: #fff;
  font-family: 'undertale';
  font-size: 1.5svh;
  transition: all 0.5s;
  filter: grayscale();
}

#play-button:hover {
  scale: 1.1;
  filter: none;
}

#hp-bar {
  position: absolute;
  color: #fff;
  font-size: 2svh;
  left: 5svh;
  top: 2svh;
  font-family: 'undertale';
  display: none;
}

#fps-counter {
  position: absolute;
  color: #fff;
  font-size: 2svh;
  left: 3svh;
  top: 1svh;
  font-family: 'undertale';
}

#confirm-btn {
  position: absolute;
  font-family: 'undertale';
  color: #fff;
  font-size: 2svh;
  right: 8vw;
  bottom: 8vw;
  background: linear-gradient(135deg, #ff000066, #ff770066);
  border: none;
  border: #ffffff66 0.2vh solid;
  border-radius: 2svh;
  width: 10vw;
  aspect-ratio: 1/1;
  display: none;
}

canvas {
  z-index: 1;
}